# Date time
snippet gdate "DD-MM-YYYY"
`!v strftime("%d-%m-%Y")`
endsnippet

snippet gtime "hh:mm:ss"
`!v strftime("%H:%M:%S")`
endsnippet

snippet gdt "DD-MM-YYYY hh:mm"
`!v strftime("%d-%m-%Y %H:%M:%S")`
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet
