# Date time
snippet gdate "DD-MM-YYYY"
`!v strftime("%d-%m-%Y")`
endsnippet

snippet gtime "hh:mm:ss"
`!v strftime("%H:%M:%S")`
endsnippet

snippet gdt "DD-MM-YYYY hh:mm"
`!v strftime("%d-%m-%Y %H:%M:%S")`
endsnippet
