snippet imp "Import" i
import $2 from '$1';
endsnippet

snippet ff "Function"
function $1($2) {
}
endsnippet

snippet fe "Express function"
const $1 = function($2) {
}
endsnippet

snippet fa "Arrow function"
const $1 = $2 => {
}
endsnippet

snippet cl "Console.log"
console.log($1);
endsnippet

snippet tc "Try catch"
try {
  $1
} catch(error) {
  $2
}
endsnippet

