snippet db "Debug" i
\`[$1 = ${${1:variable}}]\`
endsnippet

snippet time "Time"
const start = performance.now();
const end = performance.now();
console.log(`Time: ${(end - start) / 1000} seconds`);
endsnippet

snippet base "Template for js" i
// copyright
// author: thevan96
// created: `date '+%d-%m-%Y %H:%M:%S'`
// reference:

function solve() {
}

const start = performance.now();
solve();
const end = performance.now();
console.log(\`Time: ${(end - start) / 1000} milliseconds\`);
endsnippet
