snippet php
<?php
$1
endsnippet

snippet ls "load script"
echo 'Load script $1 ... <br>';
endsnippet

snippet vd "var_dump"
var_dump($1);
endsnippet

snippet cons "Construct"
public function __construct($1)
{
		$2
}
endsnippet
