snippet base "Ruby base" i
# frozen_string_literal: true
endsnippet

snippet ut "Unit test" i
describe 'Solution' do
  it '${1}' do
    # expect().to eql()
  end
end
endsnippet

snippet gemfile "Gemfile" i
# frozen_string_literal: true

source 'https://rubygems.org'
git_source(:github) { |repo| "https://github.com/#{repo}.git" }

ruby '2.7.0'

group :development do
end

group :test do
end

group :development, :test do
end
endsnippet
