snippet reset "reset css"
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
endsnippet

snippet flexcenter "flex center"
display: flex;
align-items: center;
justify-content: center;
endsnippet


