snippet = "big line" i
===============================================================================
endsnippet

snippet - "small line" i
-------------------------------------------------------------------------------
endsnippet
