[user]
  name = thevan96
  email = vothevan96@gmail.com

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global

[init]
  defaultBranch = main

[diff]
  tool = nvimdiff

[merge]
  tool = nvimdiff

[mergetool]
  keepBackup = false

[color]
  status = always

[alias]
  prettier = "log --all --decorate --oneline --graph \
    --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold \
    blue)<%an>%Creset' --abbrev-commit"
