[user]
  name = thevan96
  email = vothevan96@gmail.com

[core]
  editor = vim
  excludesfile = /home/thevan96/.gitignore_global

[init]
  defaultBranch = main

[merge]
  tool = nvimdiff

[mergetool]
  keepBackup = false

[color]
  status = always
