snippet date "DD-MM-YYYY"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet time "hh:mm:ss"
`!v strftime("%H:%M:%S")`
endsnippet

snippet datetime "DD-MM-YYYY hh:mm"
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet ` "Code"
\`\`\`$1
\`\`\`
endsnippet

snippet { "Code"
{
	${1}
}
endsnippet

snippet ( "Code"
(
	${1}
)
endsnippet
