[Desktop Entry]
Type=Application
Version=1.0
Name=Postman
Comment=Supercharge your API workflow
Exec=/opt/Postman/Postman
Icon=/opt/Postman/app/resources/app/assets/icon.png
