snippet base "Base template for go"
package main

import "fmt"

func main() {
}
endsnippet

snippet fpn "fmt.Println()"
fmt.Println($1)
endsnippet

snippet fps "fmt.Printf()"
fmt.Printf($1)
endsnippet
